// Colours:
//   http://chir.ag/projects/name-that-color/

$color__black: #000;
$color__matisse: #1e75ab;
$color__pickled_bluewood: #304354;
$color__silver: #cacaca;
$color__tundora: #4a4a4a;
$color__white: #fff;

$color__blue--primary: $color__matisse;
