$type__font__oswald: 'Oswald', sans-serif;
$type__font__roboto: 'Roboto Condensed', sans-serif;

$type__font--default: $type__font__roboto;

$type__color__default: $color__tundora;

$type__size__default: 16px;

$type__line_height__default: 19px;
